# Values that get applied to all adapter charts

image:
  registry: {{ env "REGISTRY" | default "quay.io" }}
  repository: {{ env "ADAPTER_REPOSITORY" | default "redhat-services-prod/hyperfleet-tenant/hyperfleet/hyperfleet-adapter" }}
  tag: {{ env "ADAPTER_IMAGE_TAG" | default "dev" }}
  pullPolicy: {{ env "IMAGE_PULL_POLICY" | default "IfNotPresent" }}


adapterConfig:
  log:
    level: debug
  {{ if eq (env "JWT_AUTH_ENABLED" | default "false") "true" }}
  hyperfleetApi:
    auth:
      enabled: true
      audience: hyperfleet-api
  {{ end }}

env:
  - name: SIMULATE_RESULT
    value: success
  - name: NAMESPACE
    valueFrom:
      fieldRef:
        fieldPath: metadata.namespace
  {{- if and (hasKey .Values "runId") .Values.runId }}
  - name: RUN_ID
    value: {{ .Values.runId | quote }}
  {{- end }}
