# Base values for HyperFleet API

image:
  registry: {{ env "REGISTRY" | default "quay.io" }}
  repository: {{ env "API_REPOSITORY" | default "redhat-services-prod/hyperfleet-tenant/hyperfleet/hyperfleet-api" }}
  tag: {{ env "API_IMAGE_TAG" | default "dev" }}
  pullPolicy: {{ env "IMAGE_PULL_POLICY" | default "IfNotPresent" }}

service:
  type: {{ .Values.serviceType }}

config:
  entities:
    - kind: Cluster
      plural: clusters
      spec_schema_name: ClusterSpec
      required_adapters:
        {{- range .Values.adapters }}
        {{- if eq .resourceType "clusters" }}
        {{ .name }}: ""
        {{- end }}
        {{- end }}
      name_min_len: 3
      name_max_len: 53
      require_spec_schema: true
    - kind: NodePool
      plural: nodepools
      parent_kind: Cluster
      on_parent_delete: cascade
      spec_schema_name: NodePoolSpec
      required_adapters:
        {{- range .Values.adapters }}
        {{- if eq .resourceType "nodepools" }}
        {{ .name }}: ""
        {{- end }}
        {{- end }}
      name_min_len: 3
      name_max_len: 15
      require_spec_schema: true
    - kind: Channel
      plural: channels
      spec_schema_name: ChannelSpec
    - kind: Version
      plural: versions
      parent_kind: Channel
      on_parent_delete: restrict
      spec_schema_name: VersionSpec
    - kind: WifConfig
      plural: wifconfigs
      spec_schema_name: WifConfigSpec
  reconciler:
    enabled: true
    poll_interval: {{ env "RECONCILER_POLL_INTERVAL" | default "30s" }}
    stale_threshold: {{ env "RECONCILER_STALE_THRESHOLD" | default "30m" }}
  {{ if eq (env "JWT_AUTH_ENABLED" | default "false") "true" }}
  server:
    jwt:
      enabled: true
      configs:
      {{/* GCP OIDC when OIDC_ISSUER_URL is explicitly provided; K8s in-cluster OIDC otherwise */}}
      {{ if env "OIDC_ISSUER_URL" }}
        - issuer_url: "{{ env "OIDC_ISSUER_URL" }}"
          jwk_cert_url: "{{ env "OIDC_JWKS_URL" | default (printf "%s/jwks" (env "OIDC_ISSUER_URL")) }}"
          audience: hyperfleet-api
          identity_claim: sub
          identity_claim_pattern: "^system:serviceaccount:{{ env "NAMESPACE" | default "hyperfleet" }}:.*$"
        - issuer_url: https://accounts.google.com
          jwk_cert_url: https://www.googleapis.com/oauth2/v3/certs
          identity_claim: email
      {{ else }}
        - issuer_url: "https://kubernetes.default.svc.cluster.local"
          jwk_cert_url: "https://kubernetes.default.svc.cluster.local/openid/v1/jwks"
          jwk_cert_ca_file: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
          header: "Authorization"
          audience: hyperfleet-api
          identity_claim: sub
          identity_claim_pattern: "^system:serviceaccount:{{ env "NAMESPACE" | default "hyperfleet-local" }}:.*$"
      {{ end }}
  {{ end }}
